<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Deloitte</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link rel="stylesheet" type="text/css" href="../resources/css/advertise.min.css">
</head>

<body>
	<div class="content">
		<div class="slogan">
			
		</div>
		<div class="text-content">
			<h2>距离宣讲会开始还有：</h2>
			<p>15天 02小时 33分 33秒</p>	
		</div>
		
		<footer>
			
		</footer>
	</div>
	<div class="banner-top container">
        <h3>距宣讲会开始还有：<span>15天 02小时 33分 44秒</span></h3>
    </div>
	<script src="../resources/js/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$(".content").css('height', $(window).height()-50 + 'px');
	});
	</script>
</body>
</html>