<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>后台管理-报名管理</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/back-responder.min.css">

</head>

<body>
    <header>
    	<div class="container">
    		<h3>空中宣讲会管理系统</h3>
		    <div class="user-box">
		    	<figure></figure>
		    	<span>USER NAME</span>
		    	<a href="" title="">登出</a>
		    </div>	
    	</div>
    </header>
    <nav>
        <div class="container">
        <ul>
            <li><a href="" title="">报名管理</a></li>
            <li><a href="" title="">FAQ管理</a></li>
            <li class="active"><a href="" title="">抢答管理</a></li>
        </ul>
        </div>
    </nav>
    <div class="main container">
        <aside>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#qList" aria-controls="register" role="tab" data-toggle="tab">抢答题库查看</a></li>
                <li role="presentation"><a href="#qResult" aria-controls="dating" role="tab" data-toggle="tab">抢答结果列表</a></li>
            </ul>
        </aside>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="qList">
                <table id="Question">
                    <thead>
                        <tr>
                            <th>抢答测试ID</th>
                            <th>测试题目</th>
                            <th>答案</th>
                            <th>触发时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>题库1</td>
                            <td>d卡耗时间肯定会撒谎的哈萨克结婚登记开会撒娇肯定会就撒谎几点回家撒和大厦</td>
                            <td>
                                <ul>
                                    <li>A 大家开的卡是客户端</li>
                                    <li class="bingo">B 的撒肯德基卡萨结婚登记卡萨</li>
                                    <li>C 大厦刻录机抵抗力撒娇</li>
                                    <li>D 大厦肯德基库萨克接电话撒</li>
                                </ul>
                            </td>
                            <td>2015-08-15  18:00</td>
                        </tr>
                        <tr>
                            <td>题库2</td>
                            <td>d卡耗时间肯定会撒谎的哈萨克结婚登记开会撒娇肯定会就撒谎几点回家撒和大厦</td>
                            <td>
                                <ul>
                                    <li>A 大家开的卡是客户端</li>
                                    <li class="bingo">B 的撒肯德基卡萨结婚登记卡萨</li>
                                    <li>C 大厦刻录机抵抗力撒娇</li>
                                    <li>D 大厦肯德基库萨克接电话撒</li>
                                </ul>
                            </td>
                            <td>2015-08-15  18:00</td>
                        </tr>
                        <tr>
                            <td>题库3</td>
                            <td>d卡耗时间肯定会撒谎的哈萨克结婚登记开会撒娇肯定会就撒谎几点回家撒和大厦</td>
                            <td>
                                <ul>
                                    <li>A 大家开的卡是客户端</li>
                                    <li class="bingo">B 的撒肯德基卡萨结婚登记卡萨</li>
                                    <li>C 大厦刻录机抵抗力撒娇</li>
                                    <li>D 大厦肯德基库萨克接电话撒</li>
                                </ul>
                            </td>
                            <td>2015-08-15  18:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="qResult">
                <div class="header">
                    <select>
                        <option value="">选择题库</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                    <div>
                        <label>是否通过</label>
                        <button class="btn btn-brand-sub">全部</button>
                        <button class="btn btn-brand-sub">是</button>
                        <button class="btn ">否</button>
                        <button class="btn btn-brand-sub">公开</button>
                        <button class="btn">未公开</button>
                    </div>
                </div>
                <table>
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>学校</th>
                                <th>毕业年份</th>
                                <th>邮箱</th>
                                <th>手机号码</th>
                                <th>报名时间</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>王大锤</td>
                                <td>上海屌丝大学</td>
                                <td>2017-2017</td>
                                <td>wangdachui@gmail.com</td>
                                <td>(86) 13800138000</td>
                                <td>2015-08-15  18:00</td>
                                <td><button class="btn btn-brand-sub">通过</button></td>
                            </tr>
                            <tr>
                                <td>王大锤</td>
                                <td>上海屌丝大学</td>
                                <td>2017-2017</td>
                                <td>wangdachui@gmail.com</td>
                                <td>(86) 13800138000</td>
                                <td>2015-08-15  18:00</td>
                                <td><span>未通过</span></td>
                            </tr>
                            <tr>
                                <td>王大锤</td>
                                <td>上海屌丝大学</td>
                                <td>2017-2017</td>
                                <td>wangdachui@gmail.com</td>
                                <td>(86) 13800138000</td>
                                <td>2015-08-15  18:00</td>
                                <td><button class="btn btn-brand-sub">通过</button></td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
        </div>
    <script src="../resources/js/jquery.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
</body>

</html>