<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>空中宣讲会</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/index.min.css">
</head>

<body>
    <!--[if lte IE 10]>
    <div class="ie-alert text-center">
        亲，我们发现您的浏览器版本过低哦，建议升级您的浏览器，以得到更好的浏览体验。 
        <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" title="" target="blank">[微软Internet Explore]</a>
        <a href="http://www.google.cn/chrome/browser/desktop/index.html" title="" target="blank">[Google Chrome]</a>
        <a href="http://www.firefox.com.cn/download/" title="" target="blank">[Firefox]</a>
    </div>
<![endif]-->
    <header id="header">
        <div class="logo-deloitte"></div>
        <div class="link-box">
            <div class="message-box">
                <a href="">消息</a>
                <ul class="message-list">
                    <li><span>Rain</span>回答了您的问题<span>“在四大是不是一定要考CPA”</span>：是的一定要的。</li>
                    <li><span>Rain</span>回答了您的问题<span>“在四大是不是一定要考CPA”</span>：是的一定要的。</li>
                    <li><span>Rain</span>回答了您的问题<span>“在四大是不是一定要考CPA”</span>：是的一定要的。</li>
                </ul>
            </div>
            <a href="">网申通道</a>
        </div>
    </header>
    <!-- <section class="banner-top container">
        <h3>距宣讲会开始还有：<span>15天 02小时 33分 44秒</span></h3>
    </section> -->
    <!-- <section class="video-box">
        <div class="container">
            <div class="video"></div>
            <div class="right-side">
                <div class="fix-nav">
                    <h3>德勤2015校园招聘空中宣讲会 </h3>
                    <ul>
                        <li class="active"><a href="" title="">在线FAQ</a></li>
                        <li><a href="" title="">嘉宾介绍</a></li>
                        <li><a href="" title="">空中有约</a></li>
                        <li><a href="" title="">笔试直通券</a></li>
                    </ul>        
                </div>
                <button class="btn-blue">我要提问</button>
            </div>    
        </div>
    </section> -->
    <section id="J_video" class="video-box">
        <div class="container">
            <div id="J_video_source" class="video">
                <div id="mep_0" class="mejs-container mejs-video" style="width: 100%; height: 100%;">
                    <div class="mejs-inner">
                        <div class="mejs-mediaelement">
                            <video id="videoId" width="100%" height="100%" src="../resources/images/codeschool_1493.mp4">
                                <source src="../resources/images/codeschool_1493.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="mejs-controls" style="display: block; visibility: hidden;"></div>
                        <div class="mejs-clear"></div>
                    </div>
                </div>
            </div>
            <div id="video_complate" style="display: none">
                <img src="/Images/homepage_countdown.png">
            </div>
            <div class="right-side">
                <div class="fix-nav">
                    <h3>德勤2015校园招聘空中宣讲会 </h3>
                    <ul>
                        <li class="active"><a href="" title="">在线FAQ</a></li>
                        <li><a href="" title="">嘉宾介绍</a></li>
                        <li><a href="" title="">空中有约</a></li>
                        <li><a href="" title="">笔试直通券</a></li>
                    </ul>
                </div>
                <button class="btn-link-blue btn_show_ask_modal" data-toggle="modal" data-target="#selectTutorModal">我要提问</button>
            </div>
        </div>
    </section>
    <nav class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tab-faq" aria-controls="tab-faq" role="tab" data-toggle="tab">在线FAQ</a>
            </li>
            <li role="presentation">
                <a href="#tab-description" aria-controls="tab-description" role="tab" data-toggle="tab">嘉宾介绍</a>
            </li>
            <li role="presentation">
                <a href="#tab-dating" aria-controls="tab-dating" role="tab" data-toggle="tab">空中有约</a>
            </li>
            <li role="presentation">
                <a href="#tab-direct" aria-controls="tab-direct" role="tab" data-toggle="tab">笔试直通券</a>
            </li>
        </ul>
        <button class="pull-right btn-blue" data-toggle="modal" data-target="#selectTutorModal">我要提问</button>
    </nav>
    <div class="tab-content container">
        <div role="tabpanel" class="row tab-pane active" id="tab-faq">
            <div class="filter-box">
                <div class="line">
                    <label>地区</label>
                    <ul>
                        <li class="select">华东</li>
                        <li>华北</li>
                        <li>华西</li>
                        <li>华南</li>
                        <li>香港</li>
                    </ul>
                </div>
                <div class="line">
                    <label>分类</label>
                    <ul>
                        <li>全部</li>
                        <li>网申</li>
                        <li>招聘流程</li>
                        <li>申请港澳地区职位</li>
                        <li>考试支持（CICPA）</li>
                        <li>其他</li>
                    </ul>
                </div>
            </div>
            <section class="list-box">
                <header>常见问题</header>
                <!-- /header -->
                <ul class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <li data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="topic-box">
                            <h5>德勤程度预计会招多少学生？</h5>
                            <div class="tag-box">
                                <span>西部</span>
                                <span>西部</span>
                            </div>
                        </div>
                        <span class="ask-time">
                        贺同学 3分钟前提出
                    </span>
                    </li>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body row">
                            <figure class="avatar" style="background-image: url(../resources/images/avatar.png);"></figure>
                            <div class="answer-box">
                                <span>张三丰，德勤中国招聘经理</span>
                                <span>解答了本问题</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolo amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tel mollis orci, sed rhoncus sapien nunc eget odio.</p>
                            </div>
                        </div>
                    </div>
                    <li>
                        <div class="topic-box">
                            <h5>德勤程度预计会招多少学生？</h5>
                            <div class="tag-box">
                                <span>西部</span>
                                <span>西部</span>
                            </div>
                        </div>
                        <span class="ask-time">
                        贺同学 3分钟前提出
                    </span>
                    </li>
                    <li>
                        <div class="topic-box">
                            <h5>德勤程度预计会招多少学生？</h5>
                            <div class="tag-box">
                                <span>西部</span>
                                <span>西部</span>
                            </div>
                        </div>
                        <span class="ask-time">
                        贺同学 3分钟前提出
                    </span>
                    </li>
                    <li class="text-center"><a href="#" title="">显示更多</a></li>
                    <ul>
            </section>
            <section class="list-box">
                <header>一般问题</header>
                <!-- /header -->
                <ul>
                    <li>
                        <div class="topic-box">
                            <h5>德勤程度预计会招多少学生？</h5>
                            <div class="tag-box">
                                <span>西部</span>
                                <span>西部</span>
                            </div>
                        </div>
                        <span class="ask-time">
                        贺同学 3分钟前提出
                    </span>
                    </li>
                    <li>
                        <div class="topic-box">
                            <h5>德勤程度预计会招多少学生？</h5>
                            <div class="tag-box">
                                <span>西部</span>
                                <span>西部</span>
                            </div>
                        </div>
                        <span class="ask-time">
                        贺同学 3分钟前提出
                    </span>
                    </li>
                    <li>
                        <div class="topic-box">
                            <h5>德勤程度预计会招多少学生？</h5>
                            <div class="tag-box">
                                <span>西部</span>
                                <span>西部</span>
                            </div>
                        </div>
                        <span class="ask-time">
                        贺同学 3分钟前提出
                    </span>
                    </li>
                    <ul>
            </section>
            <ul class="pagination pull-right">
                <li>
                    <a href="#" aria-label="Previous">
                        <span class="fa fa-angle-left fa-2x"></span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span class="fa fa-angle-right fa-2x"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="row tab-pane" id="tab-description">
            <ul class="tutor-box row">
                <li class="col-xs-3">
                    <div class="tutor-card">
                        <div class="tutor-info">
                            <figure class="avatar" style="background-image: url(../resources/images/papa.png)"></figure>
                            <span class="tutor-name">趴趴顾问团</span>
                        </div>
                        <div>
                            <button class="btn-blue" data-toggle="modal" data-target="#questionModal">向他提问</button>
                        </div>
                    </div>
                </li>
                <li class="col-xs-3">
                    <div class="tutor-card">
                        <div class="tutor-info">
                            <figure class="avatar" style="background-image: url(../resources/images/ec.png)"></figure>
                            <span class="tutor-name">德勤华东区HR</span>
                        </div>
                        <div>
                            <button class="btn-blue" data-toggle="modal" data-target="#questionModal">向他提问</button>
                        </div>
                    </div>
                </li>
                <li class="col-xs-3">
                    <div class="tutor-card">
                        <div class="tutor-info">
                            <figure class="avatar" style="background-image: url(../resources/images/hk.png)"></figure>
                            <span class="tutor-name">德勤香港HR</span>
                        </div>
                        <div>
                            <button class="btn-blue" data-toggle="modal" data-target="#questionModal">向他提问</button>
                        </div>
                    </div>
                </li>
                <li class="col-xs-3">
                    <div class="tutor-card">
                        <div class="tutor-info">
                            <figure class="avatar" style="background-image: url(../resources/images/nc.png)"></figure>
                            <span class="tutor-name">德勤华北区HR</span>
                        </div>
                        <div>
                            <button class="btn-blue" data-toggle="modal" data-target="#questionModal">向他提问</button>
                        </div>
                    </div>
                </li>
                <li class="col-xs-3">
                    <div class="tutor-card">
                        <div class="tutor-info">
                            <figure class="avatar" style="background-image: url(../resources/images/scml.png)"></figure>
                            <span class="tutor-name">德勤华南大陆HR</span>
                        </div>
                        <div>
                            <button class="btn-blue" data-toggle="modal" data-target="#questionModal">向他提问</button>
                        </div>
                    </div>
                </li>
                <li class="col-xs-3">
                    <div class="tutor-card">
                        <div class="tutor-info">
                            <figure class="avatar" style="background-image: url(../resources/images/wr.png)"></figure>
                            <span class="tutor-name">德勤华西区HR</span>
                        </div>
                        <div>
                            <button class="btn-blue" data-toggle="modal" data-target="#questionModal">向他提问</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="row tab-pane" id="tab-dating">
            <p>空中有约：如果你有关于职业选择的困惑，有对工作内容的好奇，有对未来发展的期待，那么请跟我来。在8月31号19：30-20：00间，同学们可点击下方的按钮进行报名。稍后，我们将筛选出120人（每个房间20人）于20：30-21：00间进入聊天室，和6位德勤资深导师进行互动，空前强大的导师阵容，让你绝对不虚此行。请记住，必须要先网申，先网申，先网申。</p>
            <ul class="room-box">
                <li class="room-list">
                    <header>
                        <span>德勤审计</span>
                        <button class="btn-blue">我要报名</button>
                    </header>
                    <!-- /header -->
                    <div class="room-info">
                        <div class="room-owner">
                            <figure class="avatar" style="background-image: url(../resources/images/grantpan.png)"></figure>
                            <span>嘉宾:Grant Pan<br>
                            上海审计部门合伙人</span>
                        </div>
                        <span class="room-status">目前已有 672 位小伙伴报名</span>
                    </div>
                </li>
                <li class="room-list">
                    <header>
                        <span>德勤税务</span>
                        <button class="btn-green">已报名</button>
                    </header>
                    <!-- /header -->
                    <div class="room-info">
                        <div class="room-owner">
                            <figure class="avatar" style="background-image: url(../resources/images/liangjie.png)"></figure>
                            <span>嘉宾:Liang Jie<br>
                            上海税务部门合伙人</span>
                        </div>
                        <span class="room-status">目前已有 672 位小伙伴报名</span>
                    </div>
                </li>
                <li class="room-list">
                    <header>
                        <span>德勤企业风险管理</span>
                        <button class="btn-blue">我要报名</button>
                    </header>
                    <!-- /header -->
                    <div class="room-info">
                        <div class="room-owner">
                            <figure class="avatar" style="background-image: url(../resources/images/terencetang.png)"></figure>
                            <span>嘉宾:Terence Tang<br>
                            深圳企业风险管理部门合伙人</span>
                        </div>
                        <span class="room-status">目前已有 672 位小伙伴报名</span>
                    </div>
                </li>
                <li class="room-list">
                    <header>
                        <span>德勤财务咨询服务</span>
                        <button class="btn-blue">我要报名</button>
                    </header>
                    <!-- /header -->
                    <div class="room-info">
                        <div class="room-owner">
                            <figure class="avatar" style="background-image: url(../resources/images/jaimiecheung.png)"></figure>
                            <span>嘉宾:Jaimie Cheung<br>
                            北京财务咨询服务部门总监</span>
                        </div>
                        <span class="room-status">目前已有 672 位小伙伴报名</span>
                    </div>
                </li>
                <li class="room-list">
                    <header>
                        <span>德勤企业管理咨询</span>
                        <button class="btn-blue">我要报名</button>
                    </header>
                    <!-- /header -->
                    <div class="room-info">
                        <div class="room-owner">
                            <figure class="avatar" style="background-image: url(../resources/images/xujiao.png)"></figure>
                            <span>嘉宾:Xu Jiao<br>
                            上海企业管理咨询部门副总监</span>
                        </div>
                        <span class="room-status">目前已有 672 位小伙伴报名</span>
                    </div>
                </li>
                <li class="room-list">
                    <header>
                        <span>重庆地区职位招聘</span>
                        <button class="btn-blue">我要报名</button>
                    </header>
                    <!-- /header -->
                    <div class="room-info">
                        <div class="room-owner">
                            <figure class="avatar" style="background-image: url(../resources/images/lijun.png )"></figure>
                            <span>嘉宾:Li Jun<br>
                            重庆税务部门高级经理</span>
                        </div>
                        <div class="room-owner">
                            <figure class="avatar" style="background-image: url(../resources/images/totalchow.png)"></figure>
                            <span>嘉宾:Total Chow<br>
                            重庆企业风险管理部门合伙人</span>
                        </div>
                        <span class="room-status">目前已有 672 位小伙伴报名</span>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="row tab-pane" id="tab-direct">
            <p>笔试直通券：在视频播放过程中，会有5道选择题依次出现在屏幕中间（每道题发放40张直通券），请同学们现场抢答，回答快且准的同学将收到屏幕弹窗提醒，获得笔试直通券一张，你将可以直接跳过网申筛选环节。请记住，必须要先网申，先网申，先网申。</p>
            <section class="list-box">
                <header>笔试直通券</header>
                <!-- /header -->
                <ul class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <li>
                        <div class="topic-box">
                            <h5>第一轮笔试录取名单</h5>
                        </div>
                        <button class="btn-blue" data-toggle="modal" data-target="#listModal">查看</button>
                    </li>
                    <li>
                        <div class="topic-box">
                            <h5>第二轮笔试录取名单</h5>
                        </div>
                        <button class="btn-link-gray">暂未公布</button>
                    </li>
                    <ul>
            </section>
        </div>
    </div>
    <footer>
        <div class="container">
            <div>
                <a href="http://www.deloitte.com" title="">
                    <img src="../resources/images/deloitte.png" height="28">
                </a>
                <a href="http://careerfrog.com.cn" title="">
                    <img src="../resources/images/cf.png" height="18">
                </a>
                <a href="http://8dianhou.com">
                    <img src="../resources/images/8dianhou.png" height="20">
                </a>
            </div>
            <p>本次空中宣讲会由CareerFrog 旗下一对一经验分享平台 <a href="http://8dianhou.com" title="">「8点后」</a>提供全面支持</p>
        </div>
    </footer>
    <!-- ASK Question Modal -->
    <div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="listModalLabel">第一轮在线抢答笔试直通券获得者名单</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>学校</th>
                                <th>毕业年份</th>
                                <th>邮箱</th>
                                <th>手机号码</th>
                                <th>回答时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>屌丝</td>
                                <td>上海屌丝大学</td>
                                <td>2016-08</td>
                                <td>asdfas@jsdis.csds</td>
                                <td>(86)138****0000</td>
                                <td>2015-07-23 18:00</td>
                            </tr>
                            <tr>
                                <td>屌丝</td>
                                <td>上海屌丝大学</td>
                                <td>2016-08</td>
                                <td>asdfas@jsdis.csds</td>
                                <td>(86)138****0000</td>
                                <td>2015-07-23 18:00</td>
                            </tr>
                            <tr>
                                <td>屌丝</td>
                                <td>上海屌丝大学</td>
                                <td>2016-08</td>
                                <td>asdfas@jsdis.csds</td>
                                <td>(86)138****0000</td>
                                <td>2015-07-23 18:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-blue">我已了解</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal -->
    <!-- ASK Question Modal -->
    <div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="questionModalLabel">发出提问</h4>
                </div>
                <div class="modal-body">
                    <div class="avatar-box">
                        <figure class="avatar" style="background-image: url(../resources/images/avatar.png)"></figure>
                        <div class="avatar-info">
                            同学你好，我是NAME，TITLE，很高兴能接受你的提问
                        </div>
                    </div>
                    <div class="question-box">
                        <label>描述问题</label>
                        <textarea placeholder="请用简洁的语言描述你的问题"></textarea>
                    </div>
                    <div class="filter-box">
                        <div class="line">
                            <label>地区</label>
                            <ul>
                                <li class="select">华东</li>
                                <li>华北</li>
                                <li>华西</li>
                                <li>华南</li>
                                <li>香港</li>
                            </ul>
                        </div>
                        <div class="line">
                            <label>分类</label>
                            <ul>
                                <li>全部</li>
                                <li>网申</li>
                                <li>招聘流程</li>
                                <li>申请港澳地区职位</li>
                                <li>考试支持（CICPA）</li>
                                <li>其他</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-blue">提问</button>
                    <button type="button" class="btn-link-gray" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal -->
    <!-- TEST Modal -->
    <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="testModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="testModalLabel">在线测试</h4>
                </div>
                <div class="modal-body">
                    <p class="test-question">以下哪块业务不是德勤的核心业务？</p>
                    <ul>
                        <li>
                            <input type="radio">Audit </li>
                        <li>
                            <input type="radio">TAX </li>
                        <li>
                            <input type="radio">asdf </li>
                        <li>
                            <input type="radio">trergerg </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-blue">提交</button>
                    <button type="button" class="btn-link-gray" data-dismiss="modal">放弃抢答</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal -->
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="text" name="username" placeholder="输入您的姓名">
                    <select id="select-country">
                        <option value="86">中国(+86)</option>
                        <option value="1">美国(+1)</option>
                        <option value="1">加拿大(+1)</option>
                        <option value="44">英国(+44)</option>
                        <option value="61">澳大利亚(+61)</option>
                        <option value="49">德国(+49)</option>
                        <option value="33">法国(+33)</option>
                        <option value="81">日本(+81)</option>
                        <option value="852">香港(+852)</option>
                        <option value="65">新加坡(+65)</option>
                        <option value="886">台湾(+886)</option>
                        <option value="64">新西兰(+64)</option>
                        <option value="82">韩国(+82)</option>
                        <option value="353">爱尔兰(+353)</option>
                        <option value="31">荷兰(+31)</option>
                    </select>
                    <i class="fa fa-angle-down"></i>
                <input type="text" name="phone" placeholder="输入您的手机号">
                    <button type="button" class="btn-blue">确定</button>
                    <p>预报名用户请输入预报名时填写的信息</p>
                    <p class="hint">
                        登录遇到问题，可致电：400-642-0080或发送邮件至 natyan@deloitte.com.cn邮件请注明手机号和姓名
                    </p>
                </div>
                <div class="modal-footer">
                    <p>Powered by <a href="http://www.8dianhou.com" title="">8点后</a></p>
                    <p>登录即表示您同意8点后<a href="http://www.8dianhou.com/doc/agreement">用户协议</a>及<a href="http://www.8dianhou.com/doc/privacy">隐私条款</a></p>
                </div>
            </div>
        </div>
    </div>
<!-- END Modal -->
<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="../resources/images/congratulations.png" height="81" width="186" alt="">
        <h4>回答正确</h4>
        <p>查看是否已抢到直通券</p>
        <button class="btn-blue">查看名单</button>
      </div>
    </div>
  </div>
</div>
<!-- END Modal -->
<!-- Answer Right Modal -->
<div class="modal fade" id="rightModal" tabindex="-1" role="dialog" aria-labelledby="rightModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="../resources/images/oh.png" height="81" width="186" alt="">
        <h4>哎呀</h4>
        <p>似乎打错了T_T继续加油吧</p>
        <button class="btn-blue">我已了解</button>
      </div>
    </div>
  </div>
</div>
<!-- END Modal -->
<div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>
                        欢迎来到德勤“因我不同”2016校园招聘空中宣讲会。今晚，您将在19:30-20:20观看到德勤5位资深导师的成功故事，我们的校招流程和德勤中国的业务发展。同时，您可以在FAQ区域提出问题，30位德勤同事将为你答疑解惑。
                    </p>
                </div>
                <div class="modal-body">
                    <p>
                        <b>你的网申号和学校信息很重要</b>，这是参加“笔试直通券”和“空中有约”的先决条件！同学们可点击右上角的“你的姓名”处补录或修改自己的网申信息。
                    </p>
                    <ul>
                        <li>
                            <b>200张笔试直通券怎么抢？</b>在视频播放过程中，会有5道选择题依次出现在屏幕中间（每道题发放40张直通券），回答快且准的同学将收到屏幕弹窗提醒，获得笔试直通券一张，你将可以直接跳过网申筛选环节。请记住，必须要先网申，先网申，先网申。
                        </li>
                        <li>
                            <b>空中有约聊天室怎么进？</b>如果你有关于职业选择的困惑，有对工作内容的好奇，有对未来发展的期待，那么请跟我来。在8月31号19：30-20：00间，同学们可点击下方的按钮进行报名。稍后，我们将筛选出120人（每个房间20人）于20：30-21：00间进入聊天室，和6位德勤资深导师进行互动，空前强大的导师阵容，让你绝对不虚此行。请记住，必须要先网申，先网申，先网申。
                        </li>
                        <li>
                            <b>我的问题没有被在线回复怎么办？</b>在今天活动结束后的24小时，我们将对平台上的所有问题进行解答，并将于9/1推送至各位的手机上。
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <p>Make your career with us to make an impact.</p>
                    <p>加入德勤，因我不同！</p>
                </div>
            </div>
        </div>
</div>
<!-- Complete Info Modal -->
<div class="modal fade in" id="complateModal" tabindex="-1" role="dialog" aria-labelledby="complateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="testModalLabel">完善个人信息</h4>
                </div>
                <div class="modal-body">
                    <input id="txt_reg_email" type="text" placeholder="邮箱">
                    <input id="txt_reg_school" type="text" placeholder="学校全称">

                    <div class="selectdate form-control">
                        <label>毕业年份</label>
                        <select name="year" id="year">
                            <option>2014年</option>
                            <option>2015年</option>
                            <option>2016年</option>
                            <option>2017年</option>
                        </select>
                        <select name="month" id="month">
                            <option value="01">01月</option>
                            <option value="02">02月</option>
                            <option value="03">03月</option>
                            <option value="04">04月</option>
                            <option value="05">05月</option>
                            <option value="06">06月</option>
                            <option value="07">07月</option>
                            <option value="08">08月</option>
                            <option value="09">09月</option>
                            <option value="10">10月</option>
                            <option value="11">11月</option>
                            <option value="12">12月</option>
                        </select>
                    </div>
                    <input id="txt_reg_no" type="text" placeholder="网申号">
                    <input type="password" placeholder="密码">
                    <p class="hint">该密码可用于登录「8点后」网站，获得1对1求职指导</p>
                    <a href="javascript:;" class="a-upload">选择文件 上传简历（5M内Word，pdf）
                        <input type="file" name="" id="">
                    </a>
                    <div class="a-upload">
                        <span>Resume.pdf</span> <i class="fa fa-check-circle-o pull-right"></i>
                    </div>
                    <p class="hint">可后续通过点击顶部登录名补充</p>
                    <button id="btn_reg" type="button" class="btn-blue">确定</button>

                </div>
                <div class="modal-footer">
                    <p>Powered by <a href="http://www.8dianhou.com" title="">8点后</a></p>
                    <p>登录即表示您同意8点后<a href="http://www.8dianhou.com/doc/agreement">用户协议</a>及<a href="http://www.8dianhou.com/doc/privacy">隐私条款</a></p>
                </div>
            </div>
        </div>
</div>
<!-- END Modal -->
<!-- Update Info Modal -->
<div class="modal fade in" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="complateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="testModalLabel">修改个人信息</h4>
                </div>
                <div class="modal-body">
                    <input id="" type="text" placeholder="姓名">
                    <input id="txt_reg_email" type="text" placeholder="邮箱">
                    <input id="txt_reg_school" type="text" placeholder="学校全称">

                    <div class="selectdate form-control">
                        <label>毕业年份</label>
                        <select name="year" id="year">
                            <option>2014年</option>
                            <option>2015年</option>
                            <option>2016年</option>
                            <option>2017年</option>
                        </select>
                        <select name="month" id="month">
                            <option value="01">01月</option>
                            <option value="02">02月</option>
                            <option value="03">03月</option>
                            <option value="04">04月</option>
                            <option value="05">05月</option>
                            <option value="06">06月</option>
                            <option value="07">07月</option>
                            <option value="08">08月</option>
                            <option value="09">09月</option>
                            <option value="10">10月</option>
                            <option value="11">11月</option>
                            <option value="12">12月</option>
                        </select>
                    </div>
                    <input id="txt_reg_no" type="text" placeholder="网申号">
                    <a href="javascript:;" class="a-upload">选择文件 上传简历（5M内Word，pdf）
                        <input type="file" name="" id="">
                    </a>
                    <div class="a-upload">
                        <span>Resume.pdf</span> <i class="fa fa-check-circle-o pull-right"></i>
                    </div>
                    <button id="btn_reg" type="button" class="btn-blue">确定</button>
                </div>
            </div>
        </div>
</div>
<!-- END Modal -->
<!-- Update Info Modal -->
<div class="modal fade in" id="selectTutorModal" tabindex="-1" role="dialog" aria-labelledby="complateModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="testModalLabel">选择提问对象</h4>
                </div>
                <div class="modal-body">
                    <ul id="J_Teachers" class="tutor-box row">
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/papa.png); "></figure>
                    <span class="tutor-name">合伙人顾问团</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/ec.png); "></figure>
                    <span class="tutor-name">德勤华东区HR</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/hk.png); "></figure>
                    <span class="tutor-name">德勤香港HR</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/nc.png); "></figure>
                    <span class="tutor-name">德勤华北区HR</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/scml.png); "></figure>
                    <span class="tutor-name">德勤华南HR</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/wr.png); "></figure>
                    <span class="tutor-name">德勤华西区HR</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/geming.png); "></figure>
                    <span class="tutor-name">Ge Ming</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/hujian.jpg); "></figure>
                    <span class="tutor-name">HU Jian</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/adrianchan.png); "></figure>
                    <span class="tutor-name">Adrian Chan</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/cuiweiwei.png); "></figure>
                    <span class="tutor-name">Cui Wei Wei</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/jeanechang.png); "></figure>
                    <span class="tutor-name">Jeane Chang</span>
                </div>

            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/wushan.jpg); "></figure>
                    <span class="tutor-name">WU Shan</span>
                </div>

            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/xujiao.png); "></figure>
                    <span class="tutor-name">Xu Jiao</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/lijun.png); "></figure>
                    <span class="tutor-name">LI Jun</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/jovenschen.png); "></figure>
                    <span class="tutor-name">Jovens Chen</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/terencetang.png); "></figure>
                    <span class="tutor-name">Terence Tang</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/marcosiu.png); "></figure>
                    <span class="tutor-name">Marco Siu</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/vincentzhao.png); "></figure>
                    <span class="tutor-name">Vincent Zhao</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/aiazhang.png); "></figure>
                    <span class="tutor-name">Ala Zhang</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/octavianzhong.png); "></figure>
                    <span class="tutor-name">Octavian Zhong</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/kimjin.png); "></figure>
                    <span class="tutor-name">Kim Jin</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/jameskong.png); "></figure>
                    <span class="tutor-name">James Kong</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/mandyyu.png); "></figure>
                    <span class="tutor-name">Mandy Yu</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/grantpan.png); "></figure>
                    <span class="tutor-name">Grant Pan</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/rubyjiang.png); "></figure>
                    <span class="tutor-name">Ruby Jiang</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/totalchow.png); "></figure>
                    <span class="tutor-name">Total Chow</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/jaimiecheung.png); "></figure>
                    <span class="tutor-name">Jaimie Cheung</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/liangjie.png); "></figure>
                    <span class="tutor-name">Liang Jie</span>
                </div>
            </div>
        </li>
        
        <li class="col-xs-2">
            <div class="tutor-card">
                <div class="tutor-info">
                    <figure class="avatar" style="background-image: url(http://7xl461.com2.z0.glb.qiniucdn.com/Images/teacher/yangning.png); "></figure>
                    <span class="tutor-name">YANG Ning</span>
                </div>
            </div>
        </li>
        </ul>
                </div>
            </div>
        </div>
</div>
<!-- END Modal -->
    <script src="../resources/js/jquery.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
        $('#hintModal').modal();
        //$('#updateModal').modal();

        $('#selectTutorModal .tutor-card').on("click",function(){
           $('#selectTutorModal').modal('hide');
           $('#questionModal').modal();
        });


        $(window).on('scroll', function(e) {
            var topValue = $(this).scrollTop();
            if(topValue > 687){
                $('.video-box').addClass('fix');
                $('.tab-content').css('margin-top', '676px')
            } else{
                $('.video-box').removeClass('fix');
                $('.tab-content').css('margin-top', '0')
            }
        })
    });
    </script>
</body>

</html>
